<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>THESE ARE SOME SUPER NEAT QUOTES!</h1>
    @foreach(var x in ViewBag.Allusers){
        <P>"@x["quote"]"</P>
        <p>-@x["name"] - @x["created_at"]</p>
    }
    
</body>
</html>